<!DOCTYPE html>
<html>
<head>
<link rel=icon sizes=any mask="" href=//s2.btbcdn.com/btb-logo.png>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>必投前端发布平台</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
    <style>
        .login_a{
            float: right;
            display: inline-block;
            margin-right: 20px;
        }
    </style>
</head>
<body>
  <header class="page-header">
      <a href="/">
        <img src="/logo.jpg" class="logo">
        <span class="logo-name">必投前端发布平台</span>
      </a>
      <a class="login_a" href="https://oapi.dingtalk.com/connect/qrconnect?appid=dingoaionks6jvozdgyp69&response_type=code&scope=snsapi_login&state=STATE&redirect_uri=http://hook.btb-inc.com?fromdingding">登录</a>
  </header>
  <section id="content" class="main-content">
   <section class="slide-bar">
      <h2 {% if not current.repo %}class="active-info"{% endif %}>
        <a href="/">仓库列表</a>
      </h2>
      <dl>
      		{% for item in repos %}
		  	<dd {% if ((current.group + '/' + current.repo) === (item.group + '/' + item.repo))  %}class="active"{% endif %}>
	          <a href="/repo/{{item.group}}/{{item.repo}}">
	            <span>
	            	{{item.group}}/<strong>{{item.repo}}</strong>
	            </span>
	          </a>
        	</dd>
			{% endfor %}
      </dl>
    </section>
    <section class="log-content">
	    <h2 class="log-header">使用教程</h2>
      <dl>
        <dt>webhook配置</dt>
        <dd>1、项目管理员打开settings/integrations</dd>
        <dd>2、 在url里输入http://hook.btb-inc.com/api/web-hook，勾选前两个，点击添加即可</dd>
      </dl>
	    <dl>
	        <dt>测试环境</dt>
	        <dd>1、将代码merge到dev(gray)分支，并推送远程</dd>
	        <dd>2、访问地址：http://dev(gray).btb-inc.com/group/repo/</dd>
	        <dd>3、package.json里保障有build-dev任务</dd>
      </dl>
      <dl>
        <dt>线上环境</dt>
        <dd>1、打tag推送远程</dd>
        <dd>2、访问地址：http://h5.btb-inc.com/group/repo/</dd>
        <dd>3、package.json里保障有build任务</dd>
      </dl>
      <dl>
        <dt>注意事项</dt>
        <dd>1、本地不要构建</dd>
        <dd>2、如果期望页面地址有特殊的路径，需要手动配置</dd>
        <dd>3、group和repo的命名不要是这些的关键字：js、css、img、font、api等</dd>
        <dd>4、由于执行构建操作非常消耗CPU，故服务端构建做了队列处理，一次只构建一个任务</dd>
      </dl>
    </section>
  </section>
  <div class="copyright">
  	CopyRight &copy; 2018 BTB All Rights Reserved.
  </div>
  <a href="/log" class="log-entry" target="_blank"></a>
  <script type="text/javascript">
      window.onload = function() {
			      const str = window.location.search
                    let $code;
			      if (/fromdingding/.test(str)) {
                      const arr = str.split('&')
                      arr.forEach(item => {
                      	if(/^code/.test(item)) {
                      	    $code = item.split('=')[1]
                        }
                      })
                      fetch('/api/getJwt', {
                            body: JSON.stringify({
                                code: $code || ''
                            }),
                        method: 'POST',
                        credentials: "include"
                        })
                      .then((res) => {
	                      if (+res.status === 200) {
		                     // document.querySelector('.login_a').style.cssText = 'display: none';
	                      }
                      })
                  }
      }
   </script>
</body>
</html>